<div class="container">
    <div class="section">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="page-header text-center">
                    <h2 id="tables">My Commits</h2>
                </div>
                @foreach (var spaceShip in Model)
                {

                    <div class="form-group ">
                        <ul class="list-group list-group-flush ">
                            <li class="list-group-item text-right mt-2 text-success">•</li>
                            <li class="list-group-item text-center ">SpaceShip Id : @spaceShip.Id</li>
                            <li class="list-group-item text-center ">Tax</li>
                            @foreach (var tax in spaceShip.Taxs)
                            {
                        <li class="list-group-item text-center ">@tax DVS</li>
                        }
                        <li class="list-group-item text-center ">Total : @spaceShip.TotalTax DVS</li>
                            <li>
                                <a class="btn btn-block btn-primary text-white mb-3 " href="/SpaceShips/Update?id=@spaceShip.Id">Update</a>
                            </li>
                        </ul>

                    </div>
                }
            </div>
               
            </div>
        </div>
    </div>
</div>